DATABASE_URL=postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public
JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=12

SUPABASE_URL=https://xxx.supabase.co
SUPABASE_ANON_KEY=your_anon_key
SUPABASE_SERVICE_KEY=your_service_key

GMAIL_USER=stagelink@gmail.com
GMAIL_APP_PASSWORD=your_app_password

FRONTEND_URL=https://stagelink.ma
PORT=3000

ADMIN_EMAIL=admin@stagelink.ma
WHATSAPP_NUMBER=212704726755
